body {
  font-family: 'Open Sans', sans-serif;
}

.graph .labels.x-labels {
  text-anchor: start;
}

.graph {
  height: 70rem;
  width: 100rem;
}

.graph .grid {
  stroke: rgb(0, 0, 0);
  stroke-dasharray: 0;
  stroke-width: 1;
}

.labels {
  font-size: 0.8rem;
}

.data {
  fill: rgb(47, 0, 255);
  stroke: rgb(156, 7, 175);
  stroke-width: 3;
}

.lines {
  fill: black;
  stroke: grey;
  stroke-width: 3;
}
