.homeDiv {
  width: 100%;
  display: block;
  text-align: center;
  margin: auto;
  padding: auto;
}
.homeDiv h2 {
  font-size: 5vw;
}
.chart {
  display: block;
  text-align: center;
  margin-top: 5rem;
}
